html body{
    text-align: center;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    font-size: 22px;
    margin: 0;
    padding: 10px;
}


/* Nav */

nav ul{
    display: flex;
    justify-content: space-around;
}

li {
    display: inline-block;
    padding: 10px 10px;
}

a{
    color: black;
}

/* Mission */
#mission .content{
    background-color: white;
    width: 100%;
    margin: auto;
    height: 50%;
}

#mission{
    display: flex;
    height: 300px;
    background-image: url(resources/anthony-delanoix-b5POxb2aL9o-unsplash.jpg);
    padding-top: 35px;
    background-size: cover;
}   

main{
    padding-top: 35px;
    opacity: 0.9;
}

/* Portfolio */

#portfolio{
    min-height: 500px;
    margin-top: 100px;
}

.companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.company{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
}

.project{
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
}

img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* TEAM */

#team{
    justify-content: center;
    background-image: url(resources/ben-o-bro-wpU4veNGnHg-unsplash.jpg);
    background-size: cover;
    padding-top: 10px;
}

.container-team{
    display: flex;
    height: 50%;
    justify-content: space-around;
    text-align: center;
}

.member{
    color: white;
    display: inline-block;
    flex-basis: 280px;
}


/* Footer */
.contact, .copyright{
    padding-top: 20px;
}